@font-face {
  font-family: "Iowan Roman";
  src: url("../../../public/asset/font/bitstream-iowan-old-style-bold-bt-586c371d8d669.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgb(247, 243, 233) rgb(227, 183, 120) 50%, #294C6D 100%);
  padding: 20px;
}
header h3 {
  font-size: 2rem;
  color: #294C6D;
}

nav {
  width: 50%;
}
nav .nav__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
nav .nav__list a {
  padding: 5px 15px;
  border: solid 1px #294C6D;
  color: #294C6D;
  display: block;
  margin: 10px 0;
  border-radius: 100vmax;
  text-decoration: none;
  text-align: center;
  font-family: "Inter";
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav .nav__list a:hover {
  background-color: #294C6D;
  color: #C68E3A;
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.header__logo {
  width: 200px;
}
.header__logo img {
  width: 100%;
}

.header__auth {
  width: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__auth h3 {
  font-size: 1rem;
}
.header__auth .inscription {
  width: 45%;
}
.header__auth .inscription a {
  padding: 5px 15px;
  border: solid 1px #294C6D;
  color: #294C6D;
  display: block;
  margin: 10px 0;
  border-radius: 100vmax;
  text-decoration: none;
  text-align: center;
  font-family: "Inter";
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header__auth .inscription a:hover {
  background-color: #294C6D;
  color: #C68E3A;
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.header__auth .connexion {
  width: 45%;
}
.header__auth .connexion a {
  padding: 5px 15px;
  border: solid 1px #294C6D;
  color: #294C6D;
  display: block;
  margin: 10px 0;
  border-radius: 100vmax;
  text-decoration: none;
  text-align: center;
  font-family: "Inter";
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #294C6D;
  color: #F7F3E9;
}
.header__auth .connexion a:hover {
  background-color: #294C6D;
  color: #C68E3A;
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.auth__user {
  padding: 5px 15px;
  border: solid 1px #294C6D;
  color: #294C6D;
  display: block;
  margin: 10px 0;
  border-radius: 100vmax;
  text-decoration: none;
  text-align: center;
  font-family: "Inter";
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.auth__user:hover {
  background-color: #294C6D;
  color: #C68E3A;
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgb(247, 243, 233) rgb(227, 183, 120) 50%, #294C6D 100%);
  padding: 20px;
}
#footer h3 {
  font-size: 2rem;
  color: #294C6D;
}

.footer__logo {
  width: 200px;
}
.footer__logo img {
  width: 100%;
}

.form-container {
  max-width: 400px;
  margin: auto;
  background: #F7F3E9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  color: #294C6D;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #C68E3A;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-submit {
  width: 100%;
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#find-artisan {
  background-color: #294C6D;
  height: 100vh;
}

.article__media {
  width: 50%;
}
.article__media img {
  width: 100%;
}

#find-artisan {
  display: flex;
  align-items: center;
}

h2 {
  color: #C68E3A;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-style: italic;
  text-align: center;
  margin: 1rem 0;
}

#sectionArticle1Home {
  background-color: #F7F3E9;
  padding: 20px;
}
#sectionArticle1Home .article__title {
  color: #C68E3A;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
#sectionArticle1Home article {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #294C6D;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
#sectionArticle1Home article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
#sectionArticle1Home article .article__media {
  flex: 1;
  margin-right: 20px;
}
#sectionArticle1Home article .article__media img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
#sectionArticle1Home article .article__content {
  flex: 1;
}
#sectionArticle1Home article .article__content p.article__text {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #3D3D3D;
  margin: 0;
}
#sectionArticle1Home article .article__content p.article__text span {
  color: #294C6D;
  font-size: xx-large;
  font-weight: bold;
}

#sectionArticle2Home {
  background-color: #F7F3E9;
  padding: 20px;
}
#sectionArticle2Home .article__title {
  color: #C68E3A;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
#sectionArticle2Home article {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #294C6D;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
#sectionArticle2Home article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
#sectionArticle2Home article .article__media {
  flex: 1;
  margin-right: 20px;
}
#sectionArticle2Home article .article__media img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
#sectionArticle2Home article .article__content {
  flex: 1;
}
#sectionArticle2Home article .article__content p.article__text {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #3D3D3D;
  margin: 0;
}

#sectionArticle3Home {
  background-color: #F7F3E9;
  padding: 20px;
}
#sectionArticle3Home .article__title {
  color: #C68E3A;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
#sectionArticle3Home article {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #294C6D;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
#sectionArticle3Home article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
#sectionArticle3Home article .article__media {
  flex: 1;
  margin-right: 20px;
}
#sectionArticle3Home article .article__media img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
#sectionArticle3Home article .article__content {
  flex: 1;
}
#sectionArticle3Home article .article__content p.article__text {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #3D3D3D;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
