
// Boucle for pour automatiser la création de classes width
@for $i from 10 through 100 {
  @if ($i % 5 == 0) {
    .w#{$i}  { width: $i * 1%; }
    .wvh#{$i} { width: $i * 1vh; }
  }
}

// Boucle for pour automatiser la création de classes width height
@for $i from 10 through 100 {
  @if ($i % 5 == 0) {
    .h#{$i}  { height: $i * 1%; }
    .vh#{$i} { height: $i * 1vh; }
  }
}

// m = margin ; pd = padding ; gap = gap
// t = top ; r = right ; b = bottom ; l = left
@for $i from 1 through 8 {
  .mt-#{$i} { margin-top: $i * 0.5rem; }
  .mb-#{$i} { margin-bottom: $i * 0.5rem; }
  .ml-#{$i} { margin-left: $i * 0.5rem; }
  .mr-#{$i} { margin-right: $i * 0.5rem; }
  .pdt-#{$i} { padding-top: $i * 0.5rem; }
  .pdb-#{$i} { padding-bottom: $i * 0.5rem; }
  .pdl-#{$i} { padding-left: $i * 0.5rem; }
  .pdr-#{$i} { padding-right: $i * 0.5rem; }
  .gap-#{$i} { gap: $i * 0.5rem; }
}

// cursors
.pointer {
  cursor: pointer;
}

// position
.relative {
  position: relative;
}

// Display helpers
.flex  { display: flex; }
.block { display: block; }
.none  { display: none; }

// wrap / nowrap
.wrap   { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }