$primary-color: #294C6D;
$secondary-color: #C68E3A;
$background-color: #F7F3E9;
$text-color: #3D3D3D;
$highlight-color: #819C68;

$font-primary: '';
$font-secondary: 'Inter';

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

