{% extends 'admin/base.html.twig' %}




{% block body %}

    <main class="homeboard">
        <section class="sidebar">
            <ul>
                <li><a href={{ path('admin-user') }}>Liste Utilisateurs</a></li>
                <li><a>Tableau de bord artisan</a></li>
                <li><a>Administration</a></li>
                <li><a>Inscription client</a></li>
                <li><a>Inscription artisan</a></li>
            </ul>
        </section>
        <section class="homeboardInfo">



        </section>
    </main>

{% endblock %}