<footer id="footer">
    <div class="footer__logo">
        <a href=""><img src="{{ asset('asset/image/craftlinkwhite.png') }}" alt="Logo CraftLink"></a>
    </div>
    <nav>
        <ul>

            <li>
                <a>CGU</a>
            </li>
            <li>
                <a>Mentions légales</a>
            </li>

            <li>
                <a>Politique de confidentialité</a>
            </li>
            <li>
                <a>Contact</a>
            </li>

        </ul>
    </nav>
    <div class="footer__logo">
        <img src="{{ asset('asset/image/craftlinkwhite.png') }}" alt="Logo CraftLink">
    </div>
</footer>