
<section class="sidebar">
    <ul>
        <li><a href={{ path('admin-user') }}>Liste Utilisateurs</a></li>
        <li><a href="{{ path('list_conversations') }}">Mes mesages : </a></li>
        <li><a>Administration</a></li>
        <li><a>Inscription client</a></li>
        <li><a>Inscription artisan</a></li>
    </ul>
</section>
