@use '../base/index' as *;

.form-container {
  max-width: 400px;
  margin: auto;
  background: $background-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  color: $primary-color;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-submit {
 // @include button-style($primary-color);
  width: 100%;
  font-size: 1.2rem;
}