@use '../abstracts/index' as *;

article#find-artisan{
  background-color: $primary-color;
  height: 82vh;
  flex-direction: column;

  img{
    max-width: $breakpoint-lg;
  }
}

h2{
  color: #C68E3A;
  font-style: italic;              // Option italique pour un style plus dynamique
  text-align: center;              // Centrage du texte
  margin: 1rem 0;                 // Espacement autour du slogan
}

#sectionArticle1Home {
        span{
          color: $primary-color;
          font-size: xx-large;
          font-weight: bold;
        }
      }

#sectionArticle1Home, #sectionArticle2Home, #sectionArticle3Home{
  background-color: $background-color;
  padding: 20px;

  .article__title {
    color: $secondary-color;
    text-align: center;
    margin-bottom: 20px;
  }

  article {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #294C6D; // bordure avec la couleur primaire
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px); // soulève légèrement l'article
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); // ombre accentuée pour plus de relief
    }

    .article__media {
      flex: 1;
      margin-right: 20px;
      width: 100%;

      @media (min-width: $breakpoint-md) and (max-width: calc($breakpoint-lg - 1px))  {
      min-width: 75%;
      }

      @media (min-width: calc($breakpoint-lg))  {
      min-width: 50%;
      }

      img {
        border-radius: 10px;
      }
    }

    .article__content {
      flex: 1;
      p.article__text {
        color: $text-color;
        margin: 0;

      }
    }
  }
}
