{% extends 'client/base.html.twig' %}

{% block title %}💬 Mes Conversations{% endblock %}

{% block main %}
    <main class="homeboard">
    <section class="homeboardInfo">
    <h2>Mes Conversations</h2>

    {% if conversations is defined and conversations|length %}
        <ul>
            {% for conversation in conversations %}
                {% if conversation.getParticipantOne is defined and conversation.getParticipantTwo is defined %}
                    {% set interlocutor = (conversation.getParticipantOne == app.user) ? conversation.getParticipantTwo : conversation.getParticipantOne %}
                    <li>
                        <a href="{{ path('view_conversation', {'id': conversation.id}) }}">
                            {{ interlocutor.firstName }} {{ interlocutor.lastName }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune conversation trouvée.</p>
    {% endif %}
    </section>
    </main>
{% endblock %}