@use '../abstracts/index' as *;


header.all-pages{
  background-color: #294C6D;

  h3{
    color:white;
  }

  li {
    padding: 15px;
    a{
      color: white;
    }
    }
}

  .nav__list {
    display: none;

    @media (min-width: $breakpoint-xl) {
    display: flex;
    }

    a {
      color: white;
      font-size: clamp(1rem, 2.5vw, 1.325rem);
      padding: 10px;

      &:hover {
        border-radius: 5px;
        color: $secondary-color;
      }
    }
  }

  .inscription, .connexion{
    a{
      background-color: white;
      color:$primary-color;
      &:hover {
        background-color: $background-color;
      }
    }
  }


header{
  @include flex(row, space-between, center);
  background-color: white;
  padding:20px;
h3{
  font-size: 2rem;
  color: $primary-color;
}
}

nav{

 width:50%;
.nav__list{
  display: none;
  justify-content: space-between;

  @media (min-width: $breakpoint-xl) {
    display: flex;
  }

  a{
    color: $primary-color;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: $secondary-color;
    }
  }

}
}


.header__logo{
  width: 200px;
}

.header__auth{
  display: none;
  width:25%;

  @media (min-width: $breakpoint-xl) {
      @include flex(row, space-between, flex-start);
    }

  a{
    background-color: white;
    color:$primary-color;
    &:hover {
      background-color: $background-color;
    }
  }

  h3{
    font-size: 1rem;
  }
  .inscription, .connexion{
    width:45%;
    a{
      @include bouton;
    }
  }

  .connexion{
    a{
      background-color: $primary-color;
      color:$background-color;
    }
  }
}
.auth__user{
  @include bouton;
}






