@use '../abstracts/index' as *;

main{
  min-height: 80vh;
}

img{
  width: 100%;
  height: auto;
}

article{
    @include flex(column, center, center);

    @media (min-width: $breakpoint-lg) {
     @include flex(row, center, center);
    }
}

// Classes display flexbox
.flex-center { @include flex(row, center, center); }
.flex-between { @include flex(row, space-between); }
.flex-between-top { @include flex(row, space-between, flex-start); }
.flex-around { @include flex(row, space-around); }
.flex-evenly { @include flex(row, space-evenly); }
.flex-evenly-top { @include flex(row, space-evenly, flex-start); }
.flex-start { @include flex(row, flex-start); }
.flex-start-top { @include flex(row, flex-start, flex-start); }
.flex-end { @include flex(row, flex-end); }
.flex-end-top { @include flex(row, flex-end, flex-start); }
.flex-cl-center { @include flex(column, center, center); }
.flex-cl-between { @include flex(column, space-between, center); }
.flex-cl-between-start { @include flex(column, space-between, flex-start); }
.flex-cl-around { @include flex(column, center, space-around); }
.flex-cl-evenly { @include flex(column, center, space-evenly); }
.flex-cl-evenly-end { @include flex(column, space-evenly, flex-end); }
.flex-cl-start { @include flex(column, center, flex-start); }
.flex-cl-end { @include flex(column, center, flex-end); }





