{% extends "base.html.twig" %}

{% block title %}Inscription - CraftLink{% endblock %}

{% block main %}
    <body class="register-page">
    <!-- Affichage des messages flash -->
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <main>
        <div class="registration-container">
            <h2>Inscription Artisan</h2>
            <form method="post">

                <div class="form-group">
                    <label for="firstName">Prenom</label>
                    <input type="text" id="firstName" name="firstName" required>
                </div>

                <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" id="lastName" name="lastName" required>
                </div>


                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required>
                </div>


                <div>
                    <label for="address">Votre adresse</label>
                    <input type="text" id="adress" name="address">
                </div>

                <div>
                    <label for="postal_code">Votre code postal</label>
                    <input type="text" id="postal_code" name="postal_code">
                </div>

                <div>
                    <label for="phone_number">Votre numéro de téléphone </label>
                    <input type="text" id="phone_number" name="phone_number">
                </div>

                <div>
                    <label for="speciality">Votre spécialité</label>
                    <input type="text" id="speciality" name="speciality">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirmer le mot de passe :</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>

                <button type="submit" class="btn-submit">Continuer</button>
            </form>
        </div>
    </main>
    </body>
{% endblock %}
