{% extends 'artisan/base.html.twig' %}

{% block title %}Mes Messages{% endblock %}

{% block main %}
    <div>
        <h2>Messages reçus</h2>

        {% if messages is defined and messages|length > 0 %}
            <ul>
                {% for message in messages %}
                    <li>
                        <strong>Expéditeur :</strong> {{ message.sender.firstName }} {{ message.sender.lastName }}<br>
                        <strong>Envoyé le :</strong> {{ message.sentAt|date('d/m/Y H:i') }}<br>
                        <p>{{ message.content }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun message reçu pour le moment.</p>
        {% endif %}
    </div>
{% endblock %}