{% extends 'admin/base.html.twig' %}




{% block main%}
    <main class="homeboard">
        <section class="homeboardInfo">

            <div class="registration-container">

            <form action="{{ path('admin-create_article') }}" method="post">
                <h1>Créer un article</h1>
                <label for="title">Titre :</label>
                <input type="text" id="title" name="title" required>

                <label for="content">Contenu :</label>
                <textarea id="content" name="content" required></textarea>

                <button type="submit">Publier</button>
            </form>
            </div>
        </section>
    </main>

{% endblock %}


