{% extends 'artisan/base.html.twig' %}

{% block title %}Tableau de Bord Client{% endblock %}
{% block main %}
    <div class="sidebar">
        <ul>
            <li><a>Tableau de bord client</a></li>
            <li><a>Tableau de bord artisan</a></li>
            <li><a>Administration</a></li>
            <li><a>Inscription client</a></li>
            <li><a>Inscription artisan</a></li>
        </ul>
    </div>
{% endblock main %}